*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Comic Neue", sans-serif;
    line-height: 1.6;
    overflow: hidden;
}

section {
    width:80vw;
    height: 90vh;
    /* background-color: rgba(255, 4, 4, 0.863); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     overflow: hidden;
}

article {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 7rem;
    font-style:oblique;
    color: rgb(255, 255, 255);
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.eMEOWtions-text span {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}

.eMEOWtions-text span:nth-child(1) {
    animation-delay: 0s;
}
.eMEOWtions-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.eMEOWtions-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.eMEOWtions-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.eMEOWtions-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.eMEOWtions-text span:nth-child(6) {
    animation-delay: 1s;
}
.eMEOWtions-text span:nth-child(7) {
    animation-delay: 1.2s;
}
.eMEOWtions-text span:nth-child(8) {
    animation-delay: 1.4s;
}
.eMEOWtions-text span:nth-child(9) {
    animation-delay: 1.6s;
}
.eMEOWtions-text span:nth-child(10) {
    animation-delay: 1.8s;
}


p {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}


li {
    width: 20vw;
    height: 30vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    transition: opacity 0.3s ease;
    
}

li p {
    color:  #FE9EC7;
     font-size: 4rem;
     font-weight: bold;
}

#menu {
    position: relative;
    transform: translate(0, 0%);
    height: 100%;
}

#menu.move-left {
    transition: transform 0.3s ease;
    transform: translate(-30%);
}

#menu.move-right {
    transition: transform 0.3s ease;
    transform: translate(30%);
}

li:nth-child(4){
 left: -10%;
 opacity: .25;
}

li:nth-child(5){
 left: 20%;
 opacity: 0.5;
}

li:nth-child(1){
 left: 50%;
}

li:nth-child(2){
 left: 80%;
 opacity: 0.5;
}

li:nth-child(3){
 left: 110%;
 opacity: .25;
}


menu.move-left li:nth-child(4){
    left: -10%;
    opacity: 0;
}

menu.move-left li:nth-child(5){
    left: 20%;
    opacity: 0.25;
}

menu.move-left li:nth-child(1){
    left: 50%;
    opacity: .5
}

menu.move-left li:nth-child(2){
    left: 80%;
    opacity: 1;
}

menu.move-left li:nth-child(3){
    left: 110%;
    opacity: .5;
}

menu.move-right li:nth-child(4){
    left: -10%;
    opacity: .5;
}

menu.move-right li:nth-child(5){
    left: 20%;
    opacity: 1;
}

menu.move-right li:nth-child(1){
    left: 50%;
    opacity: .5
}

menu.move-right li:nth-child(2){
    left: 80%;
    opacity: .25;
}

menu.move-right li:nth-child(3){
    left: 110%;
    opacity: 0;
}

li .details {
    position: absolute;
    left: 35%;
    top: 73%;
    font-size: 1.5rem;

}
.controls {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2vw;
}

.controls button {
    border: 0;
    width: 6vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 3.5rem;
    cursor: pointer;
    transition: all 100ms ease;
}

.controls button:hover {
    background-color: rgb(255, 177, 177);
}

/* Wavy Line code */


@keyframes mymove {
   0%, 100% {
    background-position-y: 0;
       animation-timing-function: ease-in-out;
  }
  50% {
    background-position-y: 250px;
      animation-timing-function: ease-in-out;
  }
}

.wavy-line1 {
    position: absolute;
    left: -11.3%;
    height: 100%;
    width: 500px;
    background: url("../IMAGE-FOLDER/wavy-dash-svgrepo-com.svg") repeat-y;
    background-position-x: left;
    background-size: 100% 300px;
    animation: mymove 10s linear infinite;
}

.wavy-line2 {
    position: absolute;
    transform: scaleX(-1);
    right: -11.3%;
    height: 100%;
    width: 500px;
    background: url("../IMAGE-FOLDER/wavy-dash-svgrepo-com.svg") repeat-y;
    background-position-x: right;
    background-size: 100% 300px;
    animation: mymove 10s linear infinite;
}

