* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Comic Neue", sans-serif;
    line-height: 1.6;
    overflow: hidden;
}

section {
    width:80vw;
    height: 90vh;
    /* background-color: rgba(255, 4, 4, 0.863); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     overflow: hidden;
}

article {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

p {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
 

li {
    width: 20vw;
    height: 30vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    
}

li p {
    color:  rgb(255, 177, 177);
     font-size: 4rem;
     font-weight: bold;
}

li:nth-child(4){
 left: -10%;
 opacity: 0;
}

li:nth-child(5){
 left: 20%;
 opacity: 0.5;
}

li:nth-child(1){
 left: 50%;
}

li:nth-child(2){
 left: 80%;
 opacity: 0.5;
 transition: all 300ms ease;
}

li:nth-child(3){
 left: 110%;
 opacity: 0;
}

li .details {
    position: absolute;
    left: 35%;
    top: 75%;
    font-size: 1.5rem;

}
.controls {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2vw;
}

.controls button {
    border: 0;
    width: 6vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 3.5rem;
    cursor: pointer;
    transform: all 300ms ease;
}

.controls button:hover {
    background-color: rgb(255, 177, 177);
}