/* This css file will be applied to all html files */


:root {

    --bs-primary: #feb5d1;
    --bs-primary-half-dark: #A3C0C8;
    --bs-primary-dark: #FE9EC7;
    --bs-primary-double-dark: #6c8184;
    --bs-secondary: #ECEEDF;
    --bs-accent: #D9C4B0;
    --bs-accent-dark: #CFAB8D;
}

html,
body {
    font-family: "Comic Neue", sans-serif;
    height: 100%;
}

body {
    min-height: 100vh;
    background: linear-gradient(-45deg, var(--bs-primary-dark), var(--bs-accent-dark));
    background-attachment: fixed;
}



.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);

    --bs-btn-hover-bg: var(--bs-primary-dark);
    --bs-btn-hover-border-color: var(--bs-primary-dark);

    .btn-secondary {
        background-color: var(--bs-secondary);
        border-color: var(--bs-secondary);
    }

    .btn-secondary:hover {
        background-color: #afb2a4;
        border-color: #afb2a4;
    }

    .btn-outline-success {
        border-color: var(--bs-success);
    }

    --bs-btn-active-bg: var(--bs-primary-dark);
    --bs-btn-active-border-color: var(--bs-primary-dark);
}

.btn-primary:hover {
    background-color: #8fa9b0;
    border-color: var(--bs-primary-dark);

}



.btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.btn-secondary:hover {
    background-color: #afb2a4;
    border-color: #afb2a4;
}

.btn-outline-success {
    border-color: var(--bs-success);
}

#submitBtn:hover {
    background-color: #ff81bc;
    border-color: #ff81bc;
    color: white;
}
#changePetBtn:hover {
    background-color: #ff81bc;
    border-color: #ff81bc;
    color: white;
}