 .title {
    background-image: linear-gradient(-5deg, var(--bs-accent-dark), var(--bs-primary-dark));
    font-family: 'Arial', sans-serif;
    color: #502b58;
    margin: 0 auto;
    padding: 10px;
     border-radius: 0 0 20px 20px; 
}
.meme {
  padding: 10px; 
  width: vw(888800%);
  /* max-width: 100%;
  max-height: 425px;
  height: auto; */
}
/* .quoteFoot {
    font-family: 'Georgia', sans-serif;
    color: #050608;
    margin: -20px;
    font-size: 35px;

}


.blockquote {
  font-family: 'Georgia', serif;
  text-align: center;
  background: var(--bs-accent-dark); 
  color: #555;
  display: inline-block;
  padding-top: 23px;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 10px;
  border-radius: 20px;
}
.blockquote-footer {
    font-style: italic;
    padding: 10px;
}
.test {
  background: var(--bs-accent);
} */


