h1 {
    font-size: 5rem;
    font-style:oblique;
    color: rgb(255, 255, 255);
}

#submitBtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-color: #FE9EC7;
  border-radius: 1.5rem;
}

/* Wavy Line code */
@keyframes mymove {
    0%, 100% {
        background-position-y: 0;
        animation-timing-function: ease-in-out;
    }
    50% {
        background-position-y: 250px;
        animation-timing-function: ease-in-out;
    }
}

.wavy-line1 {
    position: absolute;
    left: -11%;
    height: 100%;
    width: 500px;
    background: url("../IMAGE-FOLDER/wavy-dash-svgrepo-com.svg") repeat-y;
    background-position-x: left;
    background-size: 100% 325px;
    animation: mymove 10s linear infinite;
}

.wavy-line2 {
    position: absolute;
    transform: scaleX(-1);
    right: -11%;
    height: 100%;
    width: 500px;
    background: url("../IMAGE-FOLDER/wavy-dash-svgrepo-com.svg") repeat-y;
    background-position-x: right;
    background-size: 100% 325px;
    animation: mymove 10s linear infinite;
}

