 .title {
    background-color: #112a44;
    font-family: 'Arial', sans-serif;
    color: #99bcde;
    margin: 0 auto;
    padding: 10px;
     border-radius: 0 0 20px 20px; 
    /* max-width: 800px; */
 
  /* padding: 2rem; */
}
.quoteFoot {
    /* background-color: #a24a4a; */
    font-family: 'Georgia', sans-serif;
    color: #050608;
    margin: -20px;
    font-size: 35px;
    /* border-radius: 20px ;  */
    /* max-width: 800px; */
 
  /* padding: 2rem; */
}
.meme {
  padding: 10px; 
  max-width: 100%;
  max-height: 425px;
  height: auto;
  /* width: auto;
  object-fit: fill; */
}

.blockquote {
  font-family: 'Georgia', serif;
  font-style: italic;
  background-color: #a24a4a; 
  color: #555;
  display: inline-block;
  padding: 23px;
  padding-bottom: 10px;
  border-radius: 20px;
}

